* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: pink; */
}

.container {
    width: 100%;
    /* height: 100 */
    height: 100vh;
    background-color: pink;
    padding-top: 5%;
    padding-left: 10%;
}

.container h1 {
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 35px;

}

.container h1 img {
    width: 55px;
}

.container button {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: purple;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    border: none;
    /* outline: none; */
    cursor:pointer;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.input-box{
    background-color: white;
    width: 500px;
    min-height: 150px;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    /* border: none; */
    outline: none;
}

.input-box img{
    position: absolute;
    width: 32px;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    user-select: none;
}