*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100%;
    height: 100vw;
    background-color: #37c8a3;
    padding: 10px;
    
}
.to-do-app{
    background-color: #fff;
    width: 100%;
    max-width: 40vw;
    margin: 100px auto 10px;
    border-radius:20px;
    padding: 20px;
}
.to-do-app h1{
    display: flex;
    align-items: center;
margin-bottom: 10px;
/* margin-left: 20px; */
}
.to-do-app img{
    width: 50px;
    margin-left: 10px;
}

.to-do-app > .row{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #d2d2d2;
border-radius: 30px;
padding-left: 20px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 20px;
}
.row button{
    background-color: orange;
    border: none;
    outline: none;
    padding: 15px 33px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#list-container li{
    list-style: none;
    font-size: 20px;
    padding: 12px 5px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer; 
}
#list-container li span{
    font-size: 28px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 40px;
    color: #555;
    border-radius: 50px;
}
#list-container li span:hover{
   background: #edeef0;
}



#list-container li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(images/unchecked.png);
    background-size: contain;
    background-position: center;
    top: 12px;
    left: 8px;
}
#list-container li.checked{
    color: #555;
    text-decoration: line-through;

}
#list-container li.checked::before{
   background-image: url(images/checked.png);
}